In [1]:
import pandas as pd

In [2]:
df_densidad = pd.read_csv('datos/2021_densitat.csv', index_col=0)
df_densidad.head()

,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Superfície Residencial (ha),Densitat (hab/ha),Densitat neta (hab/ha)
Any,,,,,,,,,
2021,1,Ciutat Vella,1,el Raval,47228,110.0,49.6,429,952
2021,1,Ciutat Vella,2,el Barri Gòtic,21827,81.6,34.1,268,639
2021,1,Ciutat Vella,3,la Barceloneta,14643,117.9,13.5,124,1081
2021,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22131,111.0,32.4,199,683
2021,2,Eixample,5,el Fort Pienc,31262,92.9,33.6,336,930

In [12]:
df_densidad.reset_index(inplace=True)

In [13]:
df_densidad['Any'].unique()

array([2021])

In [3]:
df_income = pd.read_csv('datos/2020_atles_renda_bruta_llar.csv', index_col=0)
df_income.head()

,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Seccio_Censal,Import_Renda_Bruta_€
Any,,,,,,
2020,1,Ciutat Vella,1,el Raval,1,32909
2020,1,Ciutat Vella,1,el Raval,2,25493
2020,1,Ciutat Vella,1,el Raval,3,28198
2020,1,Ciutat Vella,1,el Raval,4,32716
2020,1,Ciutat Vella,1,el Raval,5,26850

In [4]:
df_domicilios = pd.read_csv('datos/2022_domicilis_edat_mitjana_nacionalitat.csv', index_col=0)
df_domicilios.head()

,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Nacionalitat,Edat_mitjana
Any,,,,,,
2022,1,Ciutat Vella,1,el Raval,Tots espanyols,50.7
2022,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,51.3
2022,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,51.4
2022,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,50.2
2022,2,Eixample,5,el Fort Pienc,Tots espanyols,50.0

In [6]:
df_domicilios['Nacionalitat'].unique()

array(['Tots espanyols', 'Tots estrangers', 'Domicilis mixtos'],
      dtype=object)

In [8]:
df_domicilios2 = pd.read_csv('datos/2022_domicilis_nacionalitat_espanyola_estrangera.csv', index_col=0)
df_domicilios2.head()

,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Nacionalitat,Nombre
Any,,,,,,
2022,1,Ciutat Vella,1,el Raval,1 espanyol,6001
2022,1,Ciutat Vella,2,el Barri Gòtic,1 espanyol,2306
2022,1,Ciutat Vella,3,la Barceloneta,1 espanyol,2442
2022,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",1 espanyol,3673
2022,2,Eixample,5,el Fort Pienc,1 espanyol,4274

In [9]:
df_domicilios2['Nacionalitat'].unique()

array(['1 espanyol', '2 espanyols', '3 espanyols', '4 espanyols o més',
       '1 estranger', '2 estrangers', '3 estrangers',
       '4 estrangers o més'], dtype=object)

In [10]:
df_paro = pd.read_csv('datos/2022_pes_del_atur_registrat_sobre_poblacio_16_64_anys.csv', index_col=0)
df_paro.head()

,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Poblacio_16_64_anys,Pes_atur
Any,,,,,,,
2022,1,1,Ciutat Vella,1,el Raval,34952,8.7
2022,1,1,Ciutat Vella,2,el Barri Gòtic,18929,4.4
2022,1,1,Ciutat Vella,3,la Barceloneta,10821,7.9
2022,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",17298,6.8
2022,1,2,Eixample,5,el Fort Pienc,22678,4.7

In [21]:
df_paro.reset_index(inplace=True)

In [22]:
df_paro.columns

Index(['Any', 'Mes', 'Codi_Districte', 'Nom_Districte', 'Codi_Barri',
       'Nom_Barri', 'Poblacio_16_64_anys', 'Pes_atur'],
      dtype='object')

In [25]:
df_paro_group = df_paro.groupby('Nom_Barri')['Pes_atur'].mean()

In [26]:
df_paro_group

Nom_Barri
Baró de Viver                     6.041667
Can Baró                          5.208333
Can Peguera                       7.108333
Canyelles                         9.850000
Ciutat Meridiana                 11.825000
                                   ...
la Vila Olímpica del Poblenou     5.258333
la Vila de Gràcia                 4.808333
les Corts                         5.300000
les Roquetes                      7.866667
les Tres Torres                   3.341667
Name: Pes_atur, Length: 73, dtype: float64

In [16]:
df_final = df_densidad.merge(df_paro, on=['Codi_Barri'], how='left')

In [17]:
df_final.head()

,Any,Codi_Districte_x,Nom_Districte_x,Codi_Barri,Nom_Barri_x,Població,Superfície (ha),Superfície Residencial (ha),Densitat (hab/ha),Densitat neta (hab/ha),Mes,Codi_Districte_y,Nom_Districte_y,Nom_Barri_y,Poblacio_16_64_anys,Pes_atur
0,2021,1,Ciutat Vella,1,el Raval,47228,110.0,49.6,429,952,1,1,Ciutat Vella,el Raval,34952,8.7
1,2021,1,Ciutat Vella,1,el Raval,47228,110.0,49.6,429,952,2,1,Ciutat Vella,el Raval,34952,8.7
2,2021,1,Ciutat Vella,1,el Raval,47228,110.0,49.6,429,952,3,1,Ciutat Vella,el Raval,34952,8.8
3,2021,1,Ciutat Vella,1,el Raval,47228,110.0,49.6,429,952,4,1,Ciutat Vella,el Raval,34952,8.7
4,2021,1,Ciutat Vella,1,el Raval,47228,110.0,49.6,429,952,5,1,Ciutat Vella,el Raval,34952,8.3